html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a {
    text-decoration: none;
}
.navbar-brand {
    animation: doimauchu 3s infinite;
}
@keyframes doimauchu {
    0% {
        color: #f1c40f;
    }

    10% {
        color: rgb(26, 23, 23);
    }

    20% {
        color: #e74c3c;
    }

    30% {
        color: #0ed6e8;
    }

    40% {
        color: #00f867;
    }

    50% {
        color: #412a77;
    }

    60% {
        color: #e010f3;
    }

    70% {
        color: #2ecc71;
    }

    80% {
        color: #f03988;
    }

    90% {
        color: coral;
    }

    100% {
        color: #9742a0;
    }
}